#barchart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-50deg);
}

#barchart .y.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#piechart .label text {
    transform: rotate(-45deg);
}

body {
  font: 10px sans-serif;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

